@import "variables", "mixins";

.sidebarSCSS{
    position: relative;
    z-index: 98;
    .sidebar_space {
        width: $sideWidth;
        height: 100vh;
    }
    .fixed_navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: $sideWidth;
        height: 100vh;
    
        background-color: rgb(60, 95, 95);
        .menu_progress{
            @extend .progressform;
            height: 0px;     
            background-color: #F0F;
            transition: 0.15s;
            z-index: 100;
        }
        .progress_space{
            @extend .progressform;
            height: 100vh;
            opacity: 0.5;
            background-color: #222;
            z-index: 99;
        }
        .sidebar_contents{
            transform: translateX($side_prosWidth);
            margin: 10px;
            font-size: $content_fontSize;
            padding-right: $side_prosWidth;
            
            p{
                cursor: pointer;
                background-color: #CCC;
                width : 100%;
                margin: 20px 0;
            }
            p.sidebarContnet_Active{
                color: #FFF;
                border-bottom: 1px solid #FFF;
                transition: all 0.5s ease;
            }
        }
    }
}