@import "body";

.MPZ {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    line-height : auto;
}

* {
    @extend .MPZ;
}
/*
전역처리
node-sass -w SCSS/style.scss public/style.css
*/
